<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Examportal</h1>
                <button mat-raised-button color="primary">Home page</button>
            </div>
        </div>
    </div>
</div> -->

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-4 text-white mb-4">Welcome to Examportal</h1>
                <p class="lead text-white mb-4">Your gateway to a world of knowledge and assessment. Prepare, practice, and excel with our comprehensive exam platform.</p>
                <p class="text-white mb-4">Join thousands of students in taking the next step towards achieving your academic goals. With a wide range of exams and resources, we are here to support you every step of the way.</p>
                <button mat-raised-button color="primary" class="btn-lg">Login to Start Exam</button>
            </div>
        </div>
    </div>
</div>

  
